.gradle
build/
vlc-plugins-linux/src/main/resources/files/

!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/*
!.idea/runConfigurations/
out/
!**/src/main/**/out/
!**/src/test/**/out/
